<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Bluster</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="about">About</a></li>
      <li><a routerLink="market">Market</a></li>
    </ul>
  </div>
</nav> -->

    
<nav> 
  <a href="#" class="logo" routerLink="">Bluster</a>
 

  <a href="#" class="right" routerLink="about">About Us</a>
  <a href="#" class="right" routerLink="market">Store</a>
</nav>